.sm-datepicker {
  &__input {
    :deep(.dp__theme_light) {
      --dp-background-color: #ffffff;
      --dp-text-color: #334155;
      --dp-hover-color: rgba(226, 232, 240, 0.45);
      --dp-hover-text-color: #334155;
      --dp-hover-icon-color: #334155;
      --dp-primary-color: rgb(var(--sm-color-primary-600));
      --dp-primary-text-color: #ffffff;
      --dp-secondary-color: #cbd5e1;
      --dp-border-color: #e2e8f0;
      --dp-menu-border-color: #e2e8f0;
      --dp-border-color-hover: #cbd5e1;
      --dp-disabled-color: #cbd5e1;
      --dp-scroll-bar-background: #f1f5f9;
      --dp-scroll-bar-color: #cbd5e1;
      --dp-success-color: #16a34a;
      --dp-success-color-disabled: rgba(22, 163, 74, 0.3);
      --dp-icon-color: #334155;
      --dp-danger-color: #e11d48;
      --dp-highlight-color: rgb(var(--sm-color-primary-50));
    }
  }
}
