.card-warn {
  background-color: #fef3c7;
  border-radius: 0.25rem;
  color: #334155;
  padding: 1rem 1.5rem;
  font-size: 14px;
}

.card-warn strong {
  color: #0f172a;
  font-weight: 600;
}

.htw-dark .card-warn {
  background-color: #161618;
  color: white;
}

.htw-dark .card-warn strong {
  color: white;
}

.card-title {
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-size: 14px;
}

.htw-dark .card-title {
  background-color: #161618;
  color: white;
}

.htw-dark .card-title strong {
  color: white;
}

.htw-dark .htw-prose :where(hr):not(:where([class~='htw-not-prose'] *)) {
  border-color: rgba(255, 255, 255, 0.152) !important;
}

.sidebar-r-doc {
  position: fixed;
  top: 100px;
  right: 60px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  width: 226px;
}

.htw-dark .sidebar-r-doc {
  border-left: 1px solid rgba(255, 255, 255, 0.152) !important;
}

.sidebar-r-doc div {
  letter-spacing: 0.4px;
  line-height: 28px;
  font-size: 13px;
  font-weight: 600;
}

.sidebar-r-doc ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-r-doc li a {
  text-decoration: none !important;
  color: #333;
  display: block;
  padding: 2px 0;
  border-radius: 5px;
  transition: color 0.3s;
  font-size: 13px;
}

.htw-dark .sidebar-r-doc li a {
  color: rgba(255, 255, 255, 0.674);
}

.sidebar-r-doc li a.active,
.sidebar-r-doc li a:hover {
  color: rgb(0, 0, 0);
}

.htw-dark .sidebar-r-doc li a.active,
.htw-dark .sidebar-r-doc li a:hover {
  color: white;
}
