.sm-card {
  @apply bg-white rounded-md; /*px-3 py-5*/
  @apply z-[1];
  &-elevation-1 {
    @apply drop-shadow-card-1;
  }
  &-elevation-2 {
    @apply drop-shadow-card-2;
  }
  &-elevation-3 {
    @apply drop-shadow-card-3;
  }
  &-elevation-4 {
    @apply drop-shadow-card-4;
  }
  /* TODO: mover al SmModal */
  /* & > * {
        @apply flex w-full;
        padding: 0.8125rem 1.5rem;
    }

    .header {
        color: var(--brand-1);
        font-size: 1.25rem;
        border-bottom: solid 0.063rem var(--grey-3);
        padding: 1.5rem 1.5rem 0.8125rem;
    }

    .footer {
        border-top: solid 0.063rem var(--grey-3);
        padding: 0.8125rem 1.5rem;
    } */
}
