.s-dropdown {
  @apply relative;

  &__menu {
    @apply w-full;
  }
  &__check {
    @apply w-4 h-4 flex items-center justify-center;
    @apply text-sm-primary-600 opacity-0;

    &.selected {
      @apply opacity-100;
    }
    &.multiple {
      @apply opacity-100 text-white;
      @apply border border-solid border-sm-primary-600 rounded-[4px];
      @apply transition-colors;

      &.selected {
        @apply bg-sm-primary-600;
      }
    }
  }
  &.readonly .s-dropdown__input :deep(.s-input__icon.trailing) {
    @apply cursor-default;
  }
  &:not(.readonly) {
    .s-dropdown__input {
      :deep(.s-input__input) {
        @apply cursor-pointer;
      }
      &.readonly {
        &.error {
          :deep(.s-input__container) {
            @apply bg-white;
          }
        }
        &:not(.disabled):not(.error) {
          :deep(.s-input__container) {
            @apply bg-white border-slate-300;

            &:hover {
              @apply border-slate-400;
            }
            &:focus-within {
              @apply border-sm-primary-500;
            }
          }
        }
      }
    }
  }
  &__magic {
    @apply self-center flex w-full h-full absolute pl-2 pt-6 text-sm-primary-500;
  }
  body
    &.magic:not(.readonly)
    ::v-deep
    .s-dropdown__input.readonly[data-v-75b3d686]:not(.disabled):not(.error)
    .s-input__container {
    @apply border-sm-primary-500 border-2;
    animation: pulse 3s infinite;
    @keyframes pulse {
      0% {
        border-color: rgb(var(--sm-color-primary-500));
      }
      50% {
        border-color: rgb(var(--sm-color-primary-200));
      }
    }
  }
}
